<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= compname %> generated from ejs</h1>
    <form action="/" method="post">
        <label for="nhero">New hero
            <input name="nhero" type="text">
        </label>
        <button type="submit">Add New Hero</button>
    </form>
    <ol>
        <% herolist.forEach( hero=>{ %>
          <li><%= hero %></li>
        <% }); %>
    </ol>
</body>
</html>