extends template 

block vars 
    -var title = "Home Page"
    -var company = "Valtech"

block body
    p Welcome to authorisation and authentication page of valtech 
    br
    a(href="/login") Login Here 
    br
    a(href="/register") Register Here 


    